.belt-white { background-color: #e2e8f0; }
.belt-blue { background-color: #3b82f6; }
.belt-purple { background-color: #8b5cf6; }
.belt-brown { background-color: #92400e; }
.belt-black { background-color: #171717; }
.belt .preta { background-color: #171717; }
.belt-black .preta { background-color: #ef4444;}
.grau { background-color: white; }